html,body{
	height: 100%;
	overflow: hidden;
}
body{
	background: url(../images/loginBg.jpg);
	background-size: 100% 100%;
}
input:-webkit-autofill,

textarea:-webkit-autofill,
select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px transparent inset;
        background-color: none;
}
.wp{
	height: 100%;
	/* background: url(../images/bgImg.png) no-repeat center 0;
	background-size: auto 100%; */
	position: relative;
	z-index: 2;
}
#particles-js{
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.5;
}
.boardLogin{
	width: 70.8%;
	min-width: 200px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 20px;
	box-shadow: 1px 0px 10px 10px #1f4e78;
	border-radius: 10px;
}
.boardLogin .logo{
	display: block;
	margin-bottom: 40px;
	text-align: center;
	font-size: 20px;
	color: #fff; opacity:1;
}
.boardLogin .logo img{
	width: 100%;
	max-width: 326px;
}

.boardLogin .inpGroup{
	height: 70px;
	padding: 14px 24px 14px 52px;
	background: #2a658a;
	background: rgb(255 255 255 / 24%);
	border-radius: 24px;
	position: relative;
}
.boardLogin .inpGroup span{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 14px;
	left: 24px;
}
.boardLogin .inpGroup span.loginIco1{
	/* background: url(../images/s_ico6.png); */
  background: url(../images/Note-01-256.png);
}
.boardLogin .inpGroup span.loginIco2{
	background: url(../images/check-mark.png);
}
.boardLogin .inpGroup span.loginIco3{
	background: url(../images/Calculator-256.png);
}
.boardLogin .inpGroup input{
	display: block;
	width: 100%;
	height: 70px;
	line-height: 40px;
	color: #dddddd;
  /* box-shadow: inset 0 0 0 1000px #f7f7f7!important; */
}

.boardLogin .inpGroup input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #dddddd; opacity:1;
}

.boardLogin .inpGroup input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #dddddd;opacity:1;
}

.boardLogin .inpGroup input:-ms-input-placeholder{
    color: #dddddd;opacity:1;
}

.boardLogin .inpGroup input::-webkit-input-placeholder{
    color: #dddddd;opacity:1;
}
.boardLogin .prompt{
	min-height: 20px;
	padding: 5px 24px 10px 24px;
}
.boardLogin p{
	line-height: 16px;
	font-size: 12px;
	display: none;

}
.boardLogin p.error{
	color: #f60;
}
.boardLogin p.success{
	color: #449d44;
}
.boardLogin .submit{
	width: 100%;
	box-sizing: border-box;
	display: block;
	height: 40px;
	line-height: 38px;
	text-align: center;
	border: 1px solid #01d1f2;
	border-radius: 20px;
	color: #fff;
	cursor: pointer;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.boardLogin .submit:hover{
	background: #01d1f2;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}


@media screen and (max-width: 1919px) and (min-width: 1680px){
	.boardLogin .logo{
		margin-bottom: 38px;
	}
	.boardLogin .inpGroup{
		padding: 12px 22px 12px 50px;
		border-radius: 22px;
	}
	.boardLogin .inpGroup span{
		width: 20px;
		height: 20px;
		top: 12px;
		left: 22px;
	}
	.boardLogin .prompt{
		min-height: 20px;
		padding: 5px 22px 10px 22px;
	}
	.boardLogin p{
		line-height: 16px;

	}
	.boardLogin .submit{
		height: 38px;
		line-height: 36px;
		border-radius: 20px;
	}
}

@media screen and (max-width: 1679px) and (min-width: 1440px){
	.boardLogin .logo{
		margin-bottom: 34px;
	}
	.boardLogin .inpGroup{
		padding: 8px 18px 8px 48px;
		border-radius: 18px;
	}
	.boardLogin .inpGroup span{
		width: 18px;
		height: 18px;
		top: 8px;
		left: 18px;
	}
	.boardLogin .inpGroup span.loginIco1{
		/* background: url(../images/s_ico6.png); */
    background: url(../images/Note-01-256.png);
		background-size: 100% 100%;
	}
	.boardLogin .inpGroup span.loginIco2{
		background: url(../images/check-mark.png);
		background-size: 100% 100%;
	}
  .boardLogin .inpGroup span.loginIco3{
		background: url(../images/Calculator-256.png);
		background-size: 100% 100%;
	}
	.boardLogin .prompt{
		min-height: 20px;
		padding: 5px 18px 10px 18px;
	}
	.boardLogin p{
		line-height: 16px;

	}
	.boardLogin .submit{
		height: 36px;
		line-height: 34px;
		border-radius: 18px;
	}
}

@media screen and (max-width: 1439px){
	.boardLogin .logo{
		margin-bottom: 30px;
	}
	.boardLogin .inpGroup{
		padding: 6px 16px 6px 46px;
		border-radius: 16px;
	}
	.boardLogin .inpGroup span{
		width: 36px;
		height: 36px;
		top: 24px;
		left: 5px;
	}
	.boardLogin .inpGroup span.loginIco1{
		/* background: url(../images/s_ico6.png); */
    background: url(../images/Note-01-256.png);
		background-size: 100% 100%;
	}
	.boardLogin .inpGroup span.loginIco2{
		background: url(../images/check-mark.png);
		background-size: 100% 100%;
	}
  .boardLogin .inpGroup span.loginIco3{
		background: url(../images/Calculator-256.png);
		background-size: 100% 100%;
	}
	.boardLogin .prompt{
		min-height: 20px;
		padding: 2px 16px 6px 16px;
	}
	.boardLogin p{
		line-height: 16px;

	}
	.boardLogin .submit{
		height: 32px;
		line-height: 30px;
		border-radius: 16px;
	}
}


body {
  text-align: center;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7.33333em;
  height: 7.33333em;
  margin-left: -3.66667em;
  margin-top: -3.66667em;
}

.loader-block {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
  width: 2em;
  height: 2em;
  background: #fdfdfd;
  -webkit-animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
  animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
}

.loader-block:nth-child(1) {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-animation-delay: 0.065s;
  animation-delay: 0.065s;
}

.loader-block:nth-child(2) {
  -moz-transform: translate(2.66667em, 0);
  -ms-transform: translate(2.66667em, 0);
  -webkit-transform: translate(2.66667em, 0);
  transform: translate(2.66667em, 0);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}

.loader-block:nth-child(3) {
  -moz-transform: translate(5.33333em, 0);
  -ms-transform: translate(5.33333em, 0);
  -webkit-transform: translate(5.33333em, 0);
  transform: translate(5.33333em, 0);
  -webkit-animation-delay: 0.195s;
  animation-delay: 0.195s;
}

.loader-block:nth-child(4) {
  -moz-transform: translate(0, 2.66667em);
  -ms-transform: translate(0, 2.66667em);
  -webkit-transform: translate(0, 2.66667em);
  transform: translate(0, 2.66667em);
  -webkit-animation-delay: 0.325s;
  animation-delay: 0.325s;
}

.loader-block:nth-child(5) {
  -moz-transform: translate(2.66667em, 2.66667em);
  -ms-transform: translate(2.66667em, 2.66667em);
  -webkit-transform: translate(2.66667em, 2.66667em);
  transform: translate(2.66667em, 2.66667em);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}

.loader-block:nth-child(6) {
  -moz-transform: translate(5.33333em, 2.66667em);
  -ms-transform: translate(5.33333em, 2.66667em);
  -webkit-transform: translate(5.33333em, 2.66667em);
  transform: translate(5.33333em, 2.66667em);
  -webkit-animation-delay: 0.455s;
  animation-delay: 0.455s;
}

.loader-block:nth-child(7) {
  -moz-transform: translate(0, 5.33333em);
  -ms-transform: translate(0, 5.33333em);
  -webkit-transform: translate(0, 5.33333em);
  transform: translate(0, 5.33333em);
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}

.loader-block:nth-child(8) {
  -moz-transform: translate(2.66667em, 5.33333em);
  -ms-transform: translate(2.66667em, 5.33333em);
  -webkit-transform: translate(2.66667em, 5.33333em);
  transform: translate(2.66667em, 5.33333em);
  -webkit-animation-delay: 0.26s;
  animation-delay: 0.26s;
}

.loader-block:nth-child(9) {
  -moz-transform: translate(5.33333em, 5.33333em);
  -ms-transform: translate(5.33333em, 5.33333em);
  -webkit-transform: translate(5.33333em, 5.33333em);
  transform: translate(5.33333em, 5.33333em);
}

@-webkit-keyframes pulse {
  from,
  40% {
    background: #fdfdfd;
  }
  to {
    background: #dadada;
  }
}
@-webkit-keyframes show {
  from, 40% {
    opacity: 0;
  }
  41%, to {
    opacity: 1;
  }
}
@keyframes pulse {
  from,
  40% {
    background: #fdfdfd;
  }
  to {
    background: #dadada;
  }
}
@keyframes show {
  from, 40% {
    opacity: 0;
  }
  41%, to {
    opacity: 1;
  }
}
/* Body styling */
html,
body {
  height: 100%;
}

body {
  background: #999 url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9ImNpcmNsZSIgY3k9ImZhcnRoZXN0LXNpZGUiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: #999 -moz-radial-gradient(circle farthest-side, #333333, #111111);
  background: #999 -webkit-radial-gradient(circle farthest-side, #333333, #111111);
  background: #999 radial-gradient(circle farthest-side, #333333, #111111);
}
